@import '../src/components/footer/Footer.css';

#root{
  background-color: rgb(32, 35, 41);
  min-height: 100vh;
  overflow-x: hidden
}
.route-wrapper {
  position: relative;
 
}

.route-wrapper > div {
  position: absolute;
  width: 100vw;

}

.container-fluid{
  background-color: rgb(32, 35, 41);
}
#NavHeader{
  min-height: 7vh;
}

.App-Home{
  background-color: rgb(32, 35, 41);
  min-height: 93vh;
  min-width: 100vw;
}


.card{
  max-width: 360px;
  margin: 1rem;
  text-align: center;
}

.My-Card{
  background-color:  rgb(60, 62, 68) !important;
  padding: 0rem !important;
  min-height: 380px;
}

/* .My-Card-Detail{
  max-width: 300px !important;
} */


.custom-select{
  max-width: fit-content;
  
}

.form-control{
  max-width: fit-content;
}

.form-group{

  padding: 2rem 1rem 1rem 1rem;
  margin: 0px !important;
}




.selected{
  font-weight: bold !important;

}


.Loading{
  fill:white;
  width: 140px;
  height: 140px;
  font-size: 32px;
}
.Loader{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(32, 35, 41);
  min-height: 93vh;
}

#gender{
  margin-right: 0.5rem;
}

#search{
  margin-right: 0.5rem;
}


#status{
  margin-right: 0.5rem;
}




#nothingHere{
  display: flex;
  background-color:  rgb(32, 35, 41);
  color: #e5e5e5;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  height: 93vh;
}

@media (max-width: 600px) {
  .form-group{
    flex-direction: column;
    align-content: space-between;
  }

  .form-group *{
    margin: 0.5rem 0px 0.5rem 0px;
  }
  .custom-select{
    max-width: inherit;
    
  }
  
  .form-control{
    max-width: inherit;
  }

  .btn{
    align-self: center;
  }
  
}

/* width */
::-webkit-scrollbar {
  width: 0.875rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pagination-block{
  margin: 1rem auto;
  padding: 0rem;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #21252950;
  width: max-content;
  border-radius: 5px;
  

}

.pagination-block *{
  list-style: none;
}

li.pagination-page, li.pagination-button{

  margin: 0.25rem;
}


a.pagination-page, li.pagination-button a{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.24);
  text-decoration: none;
  color: white;
  height: 32px;
  margin: 0 3px;
  padding: 0 6px;
  font-size: 0.875rem;
  min-width: 32px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 16px;
  letter-spacing: 0.01071em;
}

a, a:hover, a:focus{
  text-decoration: none !important;
  color: white !important;


}

.pagination-block a:hover, .pagination-block a:focus{
  background-color: rgba(255, 255, 255, 0.08);
}

.pagination-page-active{
  background-color: rgba(255, 255, 255, 0.24);
}

.sticky-top.sticky-offset {
  top: calc(7vh + 1rem);
}

.pagination-disabled{
  display: none;
}