
.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  background-color: #282221;
  min-height: 90vh;
  max-height: 100%;
}

.App *{
  text-decoration: none;
}

.App-header {
  height: 10vh;
  display: flex;
  width: 100vh;
  display: flex;
  background-color: #EEEFF2;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}

#App-header-tittle{
  display: flex;
  flex-direction: row;
  margin: 0px 1rem 0px 1rem;
}

#logox{
  height: 3rem;
  margin: 1rem 0px 1rem 0px;
}

#header{
  margin: 1rem 0px 1rem 0px;
}


.App-header-links{
  margin: 1rem;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: black;
  
}

.App-header-links *{
  text-decoration: none;
  font-size: 1.2em;
  box-sizing: border-box;
  transition: all 0.1s;
  margin-left: 2%;
  
}
.App-header-links *:visited{
  color:Black;
}

.App-header-links *:hover{
  
  color: orange;
  
}

.App-header-links *:focus{
  
  color: orange;
  
}
#chdetail{
  display: none;
}

#chdetail.selected{
  display: block;
  color: orange;
}



